# MongoDB Connection URI
MONGODB_URI=mongodb+srv://vy111106:Vansh6714@rahi.v4ww8ji.mongodb.net/ridesure?retryWrites=true&w=majority&appName=Rahi
# Redis Connection URL
REDIS_URL=rediss://default:********@credible-panther-165644.upstash.io:6379

# JSON Web Token Secret
JWT_SECRET=6ffea0ac4503425374c4362d0a16373e2032218a1d33a3a62d7e628e0d6ae73c2fe2278f8b9cfc55f07f5edc22ff353ddfaedd7f5fbbec0743bb2556a3b55686
JWT_EXPIRES_IN=7d

# Google Maps API Key (requires Geocoding, Directions, Places APIs)
GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

# Razorpay Credentials (test/live mode)
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here

# Cloudinary URL for media storage
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name

# Firebase Cloud Messaging Server Key
FIREBASE_SERVER_KEY=your_firebase_server_key_here

GOOGLE_OAUTH_CLIENT_ID=your_google_oauth_client_id_here
GOOGLE_OAUTH_CLIENT_SECRET=your_google_oauth_client_secret_here

# Twilio Credentials for Real SMS OTP
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_PHONE_NUMBER=your_twilio_phone_number_here

